body {
    margin: 0;
}

.container {
    background: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

nav {
    display: flex;
    width: 100%;
    height:90px;
    margin: auto;
    padding: 0px 50px 0px 10px;
    align-items: center;
    justify-content: space-between;
    background: #222222;
    z-index: 2;
    position: fixed;
    top: 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

nav img{
    margin-top: 10px;
    margin-left: 60px;
}

nav ul li a:hover {
    color: #FFFBF6;
}

.content {
    width: 100%;
    margin-top: 20%;
    height: 70%;
    padding-top: 20px;
    background: #1E1E1E;
}

.content-writing{
    width: 550px;
    height:200px;
    position: absolute;
    left: 8%;
    top: 40%;
}

.content h1 {
    color: white;
    font-size: 50px;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 10px;
}

span {
    color: white;
}

.content p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-bottom: 10px;
    line-height: 20px;
    margin-bottom: 40px;
}

.content a {
    border: 1px solid #949494;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 18px;
    text-decoration: none;
    color: #949494;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

.content svg {
    position: absolute;
    bottom: 0;
    right:0;
}

.upper-curve {
    width: 100%;
    position: absolute;
    top: 0;
    background: #222222;
}

.images{
    height: 350px;
    width: 350px;
    position: absolute;
    top: 220px;
    right: 30%;
}

.triangle-one{
    width: 0;
    height: 0;
    border: 120px solid transparent;
    border-top: 0;
    border-bottom: 190px solid rgb(255, 157, 94, 0.3);
    position: absolute;
    left: 140px;
    top: -40px;
    z-index: 0;
    transition: transform 1s, top 1s;
}

.triangle-two{
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-top: 0;
    border-bottom: 140px solid rgb(203, 203, 203, 0.25);
    position: absolute;
    right: 12px;
    top: 30px;
    z-index: 1;
    transition: transform 1s;
}

.triangle-three{
    width: 0;
    height: 0;
    border: 90px solid transparent;
    border-top: 0;
    border-bottom: 140px solid rgb(253, 49, 165, 0.3);
    position: absolute;
    left: -60px;
    bottom: -30px;
    z-index: 1;
    transition: transform 1s, left 1s;
}

.images img{
    position: absolute;
    transition: bottom 1s, left 1s, top 1s, right 1s;
}

.myself{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.shape-two {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 5;
    border-radius: 50%;
}

.images:hover .triangle-two{
    transform: rotate(-10deg)

}

.images:hover .triangle-three{
    left: -70px;
    transform: rotate(-10deg)

}

.images:hover .myself{
    bottom: 10px;
}

.images:hover .triangle-one{
    top: -50px;
    transform: rotate(15deg)
}

@media only screen and (max-width: 1160px) {


    .content-writing{
        width: 330px;
    }

    .upper-curve{
        visibility: hidden;
    }
    .content{
        margin-top: 90px;
    }

    .content-writing{
        left: 22%;
        top:13%;
    }

    .images{
        right:20%;
        top: 50%;
    }


}

@media only screen and (max-width: 710px) {

    nav img{
        visibility: hidden;
    }


    nav ul {
        position: absolute;
        top: 5px;
        left: 15%;
    }
}


/* projects */

.projects-container{
    background: #1E1E1E;
    position: relative;
    top: 90px;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.projects-display{
    position: relative;
    width: 90%;
    display: grid;
    gap: 2rem;
    border-radius: 30px;
    padding-left: 5%;
    grid-template-columns: repeat(auto-fit, 90px);

}

.projects-display img {
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 20px;
}

.projects-container p{
    font-size: 16px;
    font-family: Menlo, Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: white;
}

.projects-display a{
    color: white;
}

.project-links{
    position: absolute;
    top: 22px;
    right: 40px;
    z-index: 1;
    font-size:30px;
    width: auto;
    transition: opacity 1s, top 1s, right 1s;
    opacity: 0;
}

.view-project-github{
    margin-left: 20px;
}

#project{
    position: absolute;
    top: 10px;
    left: 50px;
}

#_project{
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.box{
    background: black;
    position: relative;
    height: 300px;
    color: white;
    border-radius: 20px;
}

.box:first-child {
    grid-column: span 6;
}

.box:nth-child(2) {
    grid-column: span 4;
}

.box:nth-child(3){
    grid-column: span 4;
}

.box:nth-child(4){
    grid-column: span 6;
}

.box:nth-child(5){
    grid-column: span 4;
}

.box:nth-child(6){
    grid-column: span 3;
}

.overlay1{
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    width: 690px;
    height: 300px;
    background: rgba(0,0,0,0.6);
    z-index: 0;
    font: Arial;
    padding-left: 10px;
    border-radius: 20px;
}

.overlay2 {
    border: 1px solid white;
    position: absolute;
    top: 0;
    width: 396px;
    height: 240px;
    background: rgba(0,0,0,0.6);
    z-index: 0;
    font: Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
}

.overlay3{
    border: 1px solid white;
    position: absolute;
    top: 0;
    width: 325px;
    height: 300px;
    background: rgba(0,0,0,0.6);
    z-index: 0;
    font: Arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    border-radius: 20px;
}

.project-type {
    position: absolute;
    top: 30px;
    left: 30px;
    margin-bottom: 5px;
    transition: bottom 1s, left 1s, top 1s, right 1s;
    font-family: 'Nunito', sans-serif;
}

.info {
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-bottom: 5px;
    transition: bottom 1s, left 1s, top 1s, right 1s;
    width: auto;
    height: auto;
    padding-right: 20px;

}

.info h2 {
    font-family: 'Yeseva One', cursive;
    margin-bottom: 10px;
}

.info small{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.box:hover .project-type{
    top: 35px;
    left: 35px;
}

.box:hover .info{
    bottom: 35px;
    left: 35px;
}

.box:hover .project-links{
    top: 25px;
    right: 45px;
    opacity: 1;
}


@media only screen and (max-width: 1050px) {

    .box:first-child {
        grid-column: span 3;
    }
    
    .box:nth-child(2) {
        grid-column: span 3;
    }
    
    .box:nth-child(3){
        grid-column: span 3;
    }
    
    .box:nth-child(4){
        grid-column: span 3;
    }
    
    .box:nth-child(5){
        grid-column: span 3;
    }
    
    .box:nth-child(6){
        grid-column: span 3;
    }

    .overlay1{
        position: absolute;
        top: 0;
        width: 325px;
        height: 300px;
        background: rgba(0,0,0,0.6);
        z-index: 0;
        font: Arial;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        border-radius: 20px;
    }
    
    .overlay2 {
        position: absolute;
        top: 0;
        width: 294px;
        height: 240px;
        background: rgba(0,0,0,0.6);
        z-index: 0;
        font: Arial;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
        border-radius: 20px;
    }
    
}

@media only screen and (max-width: 790px) {
    .projects-display{
        width: 60%;
        padding-left: 10%;
    }
}


/* contact */

.contact-container{
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1E1E1E;
}

#contact{
    position: absolute;
    left: 5%;
    top: 40px;
}

#_contact{
    position: absolute;
    left: 5%;
    bottom: 50px;
}

.contact-form {
    min-width: 350px;
    background: white;
    height: 480px;
    padding: 20px;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 70px;
}

/* .contact-container form:hover{
    transform: scale(1.05);
} */

.form-group{
    display:flex;
    flex-direction: column;
}

.form-group small {
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
}


.form-group p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.form-control{
    width: 100%;
    height: 35px;
    background: #f3f3f3;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-top: 3px;
    padding-left: 8px;
    font-size: 12px;
}

.form-control:focus{
    outline: none !important;
    border: 1px solid #FF9D5E;
}

.form-text{
    width: 97%;
    height: 150px;
    background: #f3f3f3;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-top: 3px;
    padding: 8px;
    font-size: 12px;
}

.form-text:focus{
    outline: none !important;
    border: 1px solid #FF9D5E;
}

.form-btn{
    width: 50%;
    height: 40px;
    background: none;
    border: 1px solid #949494;
    color: #949494;
    border-radius: 5px;
    margin-left: 28%;

}

.form-btn:hover{
    background: rgb(203, 203, 203, 0.2);

}

.form-detail {
    background: rgb(203, 203, 203, 0.15);
    width: 200px;
    height: 520px;
    border-radius: 30px;
    position: relative;
    top: 0;
    left: 0;
    transition: left 0.8s;
}

.form:hover .form-detail{
    left: -10px;
}

.form{
    width: 490px;
    position: relative;
    margin-left: 10%;
}


.decor{
    height:100%;
    width: fit-content;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(203, 203, 203, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-left: 5%;
}

.extra-contact{
    z-index: 1;
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#my-message{
    font-family: 'Yeseva One', cursive;
    font-size: 25px;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
    margin-top: 0;

}

.social{
    font-size:28px;
    color: #FF9D5E;
}

.socials{
    margin-top: 0;
    margin-bottom: 30px;
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-row{
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-link, .social-row small{
    margin-left: 10px;
    font-size: 15px;
    color: #FF9D5E;
}

.space{
    width: 100%;
    height: 100px;
    z-index: 100;
}

@media only screen and (max-width: 950px) {
    .contact-container{
        flex-direction: column;
        padding-right: 0;
        height: auto;
    }

    .decor{
        height: auto;
        width: 100%;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        padding-top: 60px;
        padding-bottom: 100px;
    }

    .extra-contact{
        z-index: 1;
        width: 50%;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .space{
        height: 100%;
        width: 200px;
    }

    #contact{
        left: 5%;
        top: 15px;
    }
    
    #_contact{
        left: 5%;
        bottom: 15px;
    }

    .form{
        margin-top: 60px;
        margin-bottom: 60px;
    }

}

/* about */

.about-container{
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
    top: 90px;
    display: flex;
    background: #1E1E1E;
}

.decor2{
    height:100%;
    width: 40%;
    background: rgb(203, 203, 203, 0.1);
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section-heading{
    font-size: 15px;
    font-family: Menlo, Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: white;
}

#about-me{
    position: absolute;
    left: 12%;
    top: 50px;
}

#_about-me{
    position: absolute;
    left: 12%;
    bottom: 50px;
}

.skill-list{
    font-size: 17px;
    margin-top: 150px;
    margin-left: 150px;
    position: relative;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.decor2 a{
    border: 1px solid #949494;
    font-family: 'Montserrat', sans-serif;
    padding: 12px 20px;
    text-decoration: none;
    color: #949494;
    margin-top: 5%;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    color: white;
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paragraph-space{
    height: 20px;
    width: 100%;
}

#p1 {
    height: auto;
    line-height: 40px;
    margin: 0;
}

#p2 {
    height: auto;
    line-height: 40px;
    margin: 0;
}

.back-end-skill, .front-end-skill, .developer-tools-skill{
    width: 300px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.developer-tools, .front-end, .back-end {
    position: relative;
}

.skill-list i{
    position: absolute;
    top: 30%;
    left: -65px;
    font-size: 45px;
    color: #FF9D5E;
    opacity: 0.5;
}

.skill-list p{
    margin-bottom: 10px;
    font-size: 17px;
    margin-top: 0;
    color: #FF9D5E;
    font-family: 'Montserrat', sans-serif;
    z-index: 1;
}

.skill{
    background: rgb(148, 148, 148, 0.4);
    width: auto;
    color: white;
    padding: 4px 12px 4px 12px;
    height: 25px;
    border-radius: 20px;
    margin-right: 8px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.skill-list h2{
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    color:white;
    position: absolute;
    left: 0;
    top: -100px;
}

@media only screen and (max-width: 950px) {

    .about-container{
        flex-direction: column;
    }

    .decor2{
        width: 100%;
        left: 0;
        height: fit-content;
        margin-left: 0;
        padding-top: 60px;
        padding-bottom: 120px;
    }

    .description{
        position: relative;
        flex-direction: row;
        height: auto;
        width: 70%;
    }

    #paragraph-space{
        height: 100%;
        width: 200px;
    }

    #about-me{
        left: 5%;
        top: 10px;
    }
    
    #_about-me{
        left: 5%;
        bottom: 5px;
    }

    .skill-list{
        margin-top: 100px;
        padding-bottom: 50px;
        width: 80%;
        align-items: center;
    }

    .skill-list h2{
        top: -80px;
    }

    .decor2 a{
        position: absolute;
        bottom: -80px;
        left: 35%;
    }


    
}